/*
 * This file contains styling for the Main view.
 */

/*
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #505050,
    $ui-tab-background-color-active: #303030,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #acacac,
    $ui-tab-color-over: #c4c4c4,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 15px,
    $ui-tab-font-size-over: 15px,
    $ui-tab-font-size-active: 15px,
    $ui-tab-line-height: 19px,
    $ui-tab-font-weight: bold,
    $ui-tab-font-weight-over: bold,
    $ui-tab-font-weight-active: bold,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 24px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: #404040,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0
);

/*
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false
);

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

.x-panel-header-default {
    //left: 160px !important;
    //top: 0;
    //position: fixed !important;

    background-color: black;
    height: 78px;
    .x-title-text {
        font-size: 20px;
        font-weight: bold;
        line-height: 50px;
    }
}

.x-btn-default-small {
    background-color: #08F2F8;
    border-color: #08F2F8;
}

.x-btn-disabled {
    &.x-btn-default-small {
        background-color: #08F2F8 !important;
    }
}

.x-mask {
    background-color: rgba(208, 208, 208, 0.5) !important;
}

.x-message-box {
    border-color: black;
    .x-window-header {
        background: black;
        border: none;
    }
    .x-window-body {
        background: black;
    }
    .x-box-inner {
        color: #FFFFFF;
    }
    .x-toolbar-footer {
        background-color: rgb(171, 171, 171);
        .x-btn {
            background-color: black;
            border: none;
        }
    }
}

.create-app-btn {
    right: 20px !important;
    left: auto !important;
}

#left-sidebar-menu {
    background-color: #4A4A4A;
    .x-panel-body-default {
        background: none;
        border: none;
    }
    .eden-logo-img {
        background-image: url(../resources/images/Eden-white.png);
        background-size: contain;
        height: 120px;
        width: 120px;
        display: block;
        margin: 0 auto;
    }
    .logo-img {
        background-image: url(../resources/images/user_sample.png);
        background-size: contain;
        height: 58px;
        width: 58px;
        display: block;
        margin: 0 auto;
    }
    .node-dashboard {
        background-image: url("../resources/images/icons/dashboard_icon.png");
        background-size: contain;
    }
    .node-console {
        background-image: url("../resources/images/icons/console_icon.png");
        background-size: contain;
    }
    .node-setting {
        background-image: url("../resources/images/icons/setting_icon.png");
        background-size: contain;
    }
    .node-stat {
        background-image: url("../resources/images/icons/Stat_icon.png");
        background-size: contain;
    }
    .node-application {
        background-image: url("../resources/images/icons/app_icon.png");
        background-size: contain;
    }
    .node-member {
        color: white;
    }
    .signout-btn-wrapper {
        position: absolute;
        bottom: 0;
        left: 10px;
        .x-panel-body {
            background-color: #4A4A4A;
        }
        a {
            border: none;
            background: none;
            font-size: 13px;
        }
    }

    .app-select-dropdown {
        margin-top: 20px;
        .x-form-item-body {
            input {
                background-color: rgba(8, 242, 248, 0.4);
                color: white;
            }
        }
        .x-form-trigger-wrap {
            border: none;
            .x-form-trigger {
                background-color: rgba(8, 242, 248, 0.4);
            }
        }
    }

    .tree-menu {
        .x-panel-body {
            background-color: #4A4A4A;
        }
        .x-grid-item {
            background: none;
            &.x-grid-item-selected {
                background: rgba(8, 242, 248, 0.6);
            }
        }
        .x-tree-elbow-img {
            opacity: 0;
        }
        .x-tree-node-text {
            color: white;
            font-size: 14px;
        }
    }

}
