$lightest-color: dynamic(#fff);

$widget-container-color: dynamic(#4caf50);
$sale-container-color: dynamic(#458fd2);
$code-container-color: dynamic(#9c27b0);
$user-container-color: dynamic(#e91e63);
$server-container-color: dynamic(#ffc107);
$file-container-color: dynamic(#673ab7);
$message-container-color: dynamic(#4caf50);

$widget-first-container-background: dynamic(#468fd3);
$widget-second-container-background: dynamic(#8dc153);
$widget-third-container-background: dynamic(#607d8b);
$follow-button-color : dynamic(#82c748);
$follower-toolbar-background: dynamic(#fafafa);


.postion-class {
    position: relative;
}

.widget-name-text {
    font-family: "Open Sans";
    font-weight: Bold;
    font-size: 16px;
    line-height: 16px;
}


.info-card-item {
    text-align: center;
    background: $lightest-color ;
    padding: 45px 10px !important;
    font-size: 24px;

     &.info-card-large-wrap {
        h2 {
            font-size: 48px;
            line-height: 48px;
        }

        span.x-fa {
            height: 75px;
             width: 75px;
            border-radius: 38px;
            color: $lightest-color;
            font-size: 30px;
            line-height: 75px;
            margin: 15px 0;

            &.fa-shopping-cart {
                background-color: $sale-container-color;
            }

            &.fa-envelope {
                background-color: $message-container-color;
            }

            &.fa-code {
                background-color: $code-container-color;
            }

            &.fa-file-text {
                background-color: $user-container-color;
            }
        }

        .infodiv {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &.cornflower-blue:before {
        background: $sale-container-color;
    }

    &.green:before {
        background: $message-container-color;
    }

    &.magenta:before {
        background: $code-container-color;
    }

    &.pink:before {
        background: $user-container-color;
    }

    &.orange:before {
        background: $server-container-color;
    }

    &.blue:before {
        background: $file-container-color;
    }

    h2 {
        font-size: 30px;
        font-weight: normal;
        margin: 0;
        margin: 0;
        line-height: 32px;
    }

    div {
        line-height: 24px;
    }

    span {
        font-size: 24px;
        line-height: 24px;
    }
}

.info-card-item:before {
    width: 100%;
    position: absolute;
    height: 3px;
    content: "";
    top: 0;
    left: 0
}
