#console-container {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
  .x-toolbar-footer {
    background: none;
  }
  .x-form-item-label-text {
    color: #ffffff;
    font-weight: bold;
  }

  .x-form-cb-label {
    color: #ffffff;
  }

  .register-btn {
    background-color: rgba(126, 211, 33, 0.4);
    border: none;
    border-radius: 3px;
  }

  .clear-btn {
    background-color: rgba(155, 155, 155 , 0.4);
    border: none;
    border-radius: 3px;
  }

  .delete-btn {
    background-color: rgba(215, 74, 0, 0.4);
    border: none;
    border-radius: 3px;
  }

  .response-container {
    .x-form-trigger-wrap-default {
      border: none;
      .x-form-text-default {
        background-color: rgba(216,216,216,0);
        border: none;
        color: #FFFFFF;
      }
    }
  }
}