#stat-container {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
  .x-toolbar-default {
    background: none;
  }
  .x-btn-default-toolbar-small {
    background-color: rgba(126, 221, 33, 0.4);
    .x-btn-inner {
      color: #FFFFFF;
    }
    &.x-btn-pressed {
      background-color: #7ED321;
    }
  }
}